sudo: required

services:
  - docker

# default is ruby, we set python in case we need to do some
# advanced scripting in our setup of the C++ tests
language: python
python: 3.5

before_install:
  - ./ci/travis/before_install.sh

install:
  - ./ci/travis/install.sh

before_script:
  - ./ci/travis/before_script.sh

script:
  - ./ci/travis/script.sh

after_script:
  - ./ci/travis/after_script.sh
